*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contImg{
    background: url("../imgs/fondo.jpg");
    height: 100vh;
    background-size: cover;
}

#resultados, #quiniela{
    background-color: rgb(189, 190, 192);
}

#resultados >table td{
    border: #000 2px solid;
}

#resultados >table td i{
    line-height: 50px;
}

#resultados table td{
    font-size: 22px;
    font-weight: bold;
    padding: 3px;
}

.formQuiniela{
    background-color: rgb(5, 11, 92);
}

.formQuiniela form{
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.formQuiniela form>.fila{
    display: flex;
    justify-content: space-around;
}

.acerto-sencillo{
    background-color: rgb(155, 250, 126);
}

.acerto-doble{
    background-color: rgb(117, 174, 228);
}

.containerSignIn{
    background-color: rgba(0, 0, 0, 0.719);
    margin: 80px auto;
    padding: 30px 20px;
    border-radius: 8px;
}

#jornadas{
    width: 128px!important;
}

#resultadoCorrecto select{
    width: 128px;
}

#resultadoCorrecto{
    background-color: rgb(189, 190, 192);
}

.displayNone{
    display: none;
}

#puntuacion table td{
    font-size: 1em;
    font-weight: bold;
}

#puntuacion table .fullname{
    width: 70%;
}

#goles_local,
#goles_visitante{
    width: 38px;
}